@font-face {
  font-family: 'Roboto';

  font-style: italic;
  font-weight: 300;

  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/Roboto300i.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';

  font-style: normal;
  font-weight: 300;

  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Roboto300.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';

  font-style: normal;
  font-weight: 400;

  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto400.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';

  font-style: normal;
  font-weight: 700;

  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto700.woff2') format('woff2');
}