.signup {
  padding-bottom: 40px;
}

.signup__disclaimer {
  display: block;
  
  font-size: 1.1rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 0.8rem;
  }
}

.signup__disclaimer-link {
  font-size: 1.1rem;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    font-size: 0.8rem;
  }
}

.signup__time {
  font-size: 2rem;

  @include media-breakpoint-up(sm) {
    font-size: 2.5rem;
  }
}